@import url('reset.css');
@import url('header.css');

/* 위로가기 버튼 스타일 */
.back-to-top{
  /* border: 1px solid red; */
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 10;
}
.back-to-top button:hover{
  background-color: rgb(248, 169, 169);
  transform: scale(1.01);
}
.back-to-top button{
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: lightcoral;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
/* 사이드 모달창 스타일 */
.side-modal-container{
  /* border: 1px solid red; */
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 0.8rem;
  width: 20rem;
  position: fixed;
  right: 2rem;
  bottom: 6rem;
  padding: 0.5rem;
  line-height: 1rem;
  z-index: 5;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
}
.side-modal-container.hidden{
  display: none;
}
.side-modal-container p{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.side-modal-container button{
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  cursor: pointer;
}
.side-modal-container button:hover{
  color: lightcoral;
}
/* 메인 콘텐츠 */
main{
  width: 100vw;
  height: 100vh;
}
main .main-top{
  width: 80%;
  max-width: 1000px;
  height: 50%;
  margin: 2rem auto;
  overflow: hidden;
  padding-bottom: 0.5rem;
  /* border: 1px solid red; */
}
main .main-top h1{
  text-align: center;
  /* margin-top: 2rem; */
  font-size: 1.5rem;
  font-weight: bold;
}
main .main-top .card-wrapper{
  /* border: 1px solid blue; */
  background-color: rgba(0, 0, 0, 0.025);
  padding: 0.5rem;
  margin-top: 3rem;
  width: 100%;
  height: 350px;
  position: relative;
  overflow-x: scroll;
  display: flex;
}
main .main-top .card-wrapper::-webkit-scrollbar{
  display: none;
}
/* 카드 스크롤 박스 스타일 */
.scroll-active{
  transform: scale(1.01);
}
main .main-top .card-wrapper .scroll-box{
  /* border: 1px solid blue; */
  border-radius: 0.5rem;
  max-width: 600px;
  height: 350px;
  display: flex;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-right: 0.5rem;
  z-index: 1;
}
main .main-top .card-wrapper .scroll-box:hover{
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  transform: translate(1.1);
}
main .main-top .card-wrapper .scroll-box .cards{
  /* border: 1px solid green; */
  border-radius: 0.5rem;
  background-color: rgb(255, 226, 226);

  height: 100%;
  width: 250px;
  min-width: 200px;
  /* margin-right: 0.5rem; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}
main .main-top .card-wrapper .scroll-box .cards img{
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}
main .main-top .card-wrapper .scroll-box .cards .description h1{
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
main .main-top .card-wrapper .scroll-box  .cards .description h1.dark{
  color: black;
}
main .main-top .card-wrapper .scroll-box  .cards .description p{
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: lightslategray;
}
main .main-top .card-wrapper .scroll-box .cards button{
  border: none;
  background-color: black;
  color: white;
  width: 3rem;
  height: 1.3rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
/* 카드 팝업창 스타일 */
main .main-top .card-wrapper .card-right{
  width: 250px;
  display: none;
  transition: 0.3s;
}
main .main-top .card-wrapper .card-right .detail{
  /* border: 1px solid blue; */
  height: 350px;
  background-color: white;
  border-radius: 0 0.5rem 0.5rem 0;
  /* margin-left: -0.2rem; */
  padding: 0 0.5rem;
  color: black;
  position: relative;
  overflow-y: scroll;
}
main .main-top .card-wrapper .card-right .detail::-webkit-scrollbar{
  display: none;
}
main .main-top .card-wrapper .card-right .detail h4{
  font-size: 1.3rem;
  padding-top: 0.3rem;
}
main .main-top .card-wrapper .card-right .detail p:nth-of-type(1){
  font-size: 0.8rem;
  margin: 0.5rem 0;
}
main .main-top .card-wrapper .card-right .detail p:nth-of-type(2){
  font-size: 1rem;
  color: darkgreen;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
main .main-top .card-wrapper .card-right .detail p:nth-of-type(3){
  font-size: 0.9rem;
  line-height: 1.3rem;
}
main .main-top .card-wrapper .card-right .detail button{
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}

/* 검색창 스타일 */
main .main-mid{
  width: 100%;
  height: 50vh;
  /* border: 1px solid red; */
}
main .main-mid .search-container{
  width: 20rem;
  height: 5rem;
  /* border: 1px solid blue; */
  margin: auto;
  display: flex;
  align-items: center;
}
main .main-mid .search-container .search-keyword{
  width: 100%;
  height: 50%;
  /* border: 1px solid red; */
}
main .main-mid .search-container .search-keyword .search-bar{
  height: 100%;
  width: 96%;
  outline: none;
  padding: 0;
  padding-left: 0.5rem;
  border: 2px solid lightcoral;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 1rem;
}
main .main-mid .search-container .search-keyword .recommend{
  border: 1px solid lightgray;
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 97%;
  /* height: 5rem; */
  max-height: 15rem;
  margin-left: 0.3rem;
  background-color: white;
  padding-top: 0.5rem;
  cursor: pointer;
  display: none;
}
main .main-mid .search-container .search-keyword .recommend p{
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgray;
}
main .main-mid .search-container .search-keyword .recommend p:hover{
  color: lightcoral;
}
main .main-mid .search-container button{
  width: 30%;
  height: 55%;
  border: none;
  background-color: lightcoral;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 0 0.5rem 0.5rem 0;
  margin-top: 0.3rem;
}
main .main-mid .search-container button:hover{
  background-color: rgb(248, 169, 169);
}
main .main-mid .search-container button span{
  font-size: 1.5rem;
  line-height: 20px;
  color: white;
  font-weight: bold;
  margin-top: 0.2rem;
}

/* 검색결과 창 스타일 */
main .main-mid .search-result-container{
  /* border: 1px solid red; */
  width: 100%;
}
main .main-mid .search-result-container .result-wrapper{
  /* border: 1px solid red; */
  width: 80%;
  max-width: 1000px;
  min-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
main .main-mid .search-result-container .result-wrapper .result-box{
  /* border: 1px solid blue; */
  width: 150px;
  height: 200px;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
main .main-mid .search-result-container .result-wrapper .result-box img{
  width: 50%;
  height: 40%;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}
main .main-mid .search-result-container .result-wrapper .result-box .content{
  /* border: 1px solid green; */
  height: 40%;
  padding-left: 0.5rem;
  color: black;
}
main .main-mid .search-result-container .result-wrapper .result-box .content h1{
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
main .main-mid .search-result-container .result-wrapper .result-box .content > div{
  /* border: 1px solid red; */
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
}
main .main-mid .search-result-container .result-wrapper .result-box .content > div p{
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}